Repository ansible-collections/community.hashi_vault, pull requests merged in 2023-05, with the labels that each got.

#371 update proxy tests for urllib>=2
  tests/integration/targets/connection_options/tasks/controller.yml
  tests/integration/targets/connection_options/tasks/target.yml
Labels: tests

#374 Set minimum `hvac` version
  changelogs/fragments/324-minimum-hvac-version.yml
  docs/docsite/rst/user_guide.rst
  tests/utils/constraints.txt
Labels: breaking-change

#375 `hashi_vault` lookup - raise exception on duplicate term string options
  changelogs/fragments/356-duplicate-term-options.yml
  plugins/plugin_utils/_hashi_vault_lookup_base.py
  tests/integration/targets/lookup_hashi_vault/tasks/lookup_test.yml
  tests/unit/plugins/plugin_utils/base/test_hashi_vault_lookup_base.py
Labels: bug, breaking-change

#378 Replace fstring in unit tests to allow testing in older versions of python
  tests/unit/plugins/plugin_utils/base/test_hashi_vault_lookup_base.py
Labels: tests

#377 Changed all truthy values to true/false
  plugins/lookup/vault_token_create.py
  tests/integration/targets/auth_approle/tasks/approle_test_target.yml
  tests/integration/targets/auth_approle/tasks/main.yml
  tests/integration/targets/auth_aws_iam/tasks/aws_iam_test_target.yml
  tests/integration/targets/auth_aws_iam/tasks/main.yml
  tests/integration/targets/auth_azure/tasks/azure_test_target.yml
  tests/integration/targets/auth_azure/tasks/main.yml
  tests/integration/targets/auth_cert/tasks/cert_test_target.yml
  tests/integration/targets/auth_cert/tasks/main.yml
  tests/integration/targets/auth_jwt/tasks/jwt_test_target.yml
  tests/integration/targets/auth_jwt/tasks/main.yml
  tests/integration/targets/auth_ldap/tasks/ldap_test_target.yml
  tests/integration/targets/auth_ldap/tasks/main.yml
  tests/integration/targets/auth_token/tasks/main.yml
  tests/integration/targets/auth_token/tasks/token_test_controller.yml
  tests/integration/targets/auth_token/tasks/token_test_target.yml
  tests/integration/targets/auth_userpass/tasks/main.yml
  tests/integration/targets/auth_userpass/tasks/userpass_test_target.yml
  tests/integration/targets/connection_options/tasks/controller.yml
  tests/integration/targets/connection_options/tasks/target.yml
  tests/integration/targets/module_vault_login/tasks/module_vault_login_test.yml
  tests/integration/targets/setup_localenv_docker/files/playbooks/vault_docker.yml
  tests/integration/targets/setup_localenv_docker/tasks/main.yml
  tests/integration/targets/setup_localenv_gha/files/playbooks/gha.yml
Labels: documentation, tests
