Repository ansible-collections/community.hashi_vault, pull requests merged in 2025-07, with the labels that each got.

#467 Tests/fix various issues 2.19
  .github/workflows/ansible-test.yml
  tests/integration/targets/auth_approle/tasks/approle_test_controller.yml
  tests/integration/targets/module_vault_database_static_role_create/tasks/module_vault_database_static_role_create_test.yml
  tests/unit/plugins/module_utils/option_adapter/test_hashi_vault_option_adapter.py
  tests/unit/plugins/module_utils/test_hashi_vault_module.py
  tests/unit/plugins/modules/conftest.py
  tests/unit/plugins/modules/test_vault_pki_generate_certificate.py
Labels: tests

#462 fix validate_certs parameter beeing ignored when used with the retries parameter
  changelogs/fragments/462-validate-certs-fix.yml
  plugins/module_utils/_connection_options.py
  tests/integration/targets/connection_options/tasks/controller.yml
  tests/integration/targets/connection_options/tasks/target.yml
  tests/unit/plugins/module_utils/test_hashi_vault_connection_options.py
Labels: bug

#471 Remove support for old core & python versions
  .github/workflows/ansible-builder.yml
  .github/workflows/ansible-test.yml
  .github/workflows/github-release.yml
  README.md
  changelogs/fragments/470-core-python-versions.yml
  galaxy.yml
  meta/runtime.yml
  plugins/module_utils/_auth_method_approle.py
  plugins/module_utils/_auth_method_aws_iam.py
  plugins/module_utils/_auth_method_azure.py
  plugins/module_utils/_auth_method_jwt.py
  plugins/module_utils/_auth_method_ldap.py
  plugins/module_utils/_auth_method_none.py
  plugins/module_utils/_auth_method_token.py
  plugins/module_utils/_auth_method_userpass.py
  plugins/module_utils/_authenticator.py
  plugins/module_utils/_connection_options.py
  plugins/module_utils/_hashi_vault_common.py
  tests/config.yml
  tests/unit/conftest.py
  tests/unit/plugins/modules/test_vault_token_create.py
Labels: ci, breaking-change
